<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="person-add">
  <template>
    <style>
      :host {
        display: flex;
        justify-content: flex-start;
        margin-top: 6vh;
        background: rgba(0, 0,0, 0.4);
        padding: 6vh 2vw 0 4vw;
        font-family: sans-serif;
        border-radius: 15px;
        font-family: sans-serif;
      }

      img{
        position: absolute;
        max-height: 25vw;
        width: 25vw;
        margin-top: 0;
        border-radius: 30px;
        z-index: -1;
      }

      .info-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
      }

      .info-cont div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      .img-cont{
        display: flex;
        height: 25vw;
        width: 25vw;
        margin: 0 4vw 6vh 0vw;
        border-radius: 30px;
        align-items: flex-end;
        justify-content: center;
      }

      .add-cont{
          display: flex;
          justify-content: center;
          animation-name: dissappear;
          animation-duration: 700ms;
          animation-fill-mode: forwards;
          width: 24.8vw;
          padding: 1vw 0 1vw 0;
          color: white;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          background: rgba(0, 0, 0, 0.5);
          cursor: pointer;
      }

      .img-cont:hover .add-cont{
        animation-name: appear;
        animation-duration: 700ms;
        animation-fill-mode: forwards;
      }

      .add-cont label {
        display: flex;
        align-items: center;
        padding-right: 2vw;
        cursor: pointer;
      }

      .add-cont iron-icon{
        height: 30px;
        width: 20px;
      }

      .text{
        background-color: transparent;
        font-size: 2vw;
        width: 18vw;
        padding-left: 1vw;
        margin: 2vw 2vw;
        border-color: inset red;
      }

      .text:hover{
        background-color: rgba(255,255,255,0.1);
      }

      .text:focus{
        outline:none;
        background-color: rgba(255,255,255,0.1);
      }

      #imgInput{
        display:none;
      }

      .btn{
        margin-bottom: 5vw;
        font-size: 2vw;
        font-weight: 550;
        background: rgba(255,255,255, 0.7);
        border-radius: 10px;
        padding: .5vw 2vw;
        cursor: pointer;
      }

      .btn:hover{
        color: white;
        background: rgba(0,0,0, 0.3);
      }

      @keyframes appear{
        100%{
            opacity: 1;
        }
        0%{
            opacity: 0;
        }
      }

      @keyframes dissappear{
        0%{
            opacity: 1;

        }
        100%{

            opacity: 0;
        }
      }

    </style>
      <div id="imgCont" class='img-cont'>
        <img id ='profilePic' src="src/media/default-user-image.png">
        <div id= 'addImg' class='add-cont'>
          <label>Add photo</label>
          <iron-icon icon="create"></iron-icon>
        </div>

      </div>

      <div class='info-cont'>
        <div id='infoPerson'>
          <input type="text" class="text"id="namePer" placeholder ="Nombre"></input>
          <input type="text" class="text"id="descriptPer" placeholder ="Descripción"></input>
        </div>
        <div id='imgInput'>
          <input type="file" accept=".jpg, .jpeg, .png"  id="imgIn" placeholder ="ejemplo.jpg"></input>
          <label class='btn' id='imgBtn'>Subir</label>
        </div>
        <div>
          <label class = 'btn' id="dataBtn">Agregar Contacto</label>
        </div>
      </div>


  </template>

  <script>
    /**
     * `person-add`
     * person-add
     *
     * @customElement
     * @polymer
     */


    class PersonAdd extends Polymer.Element {
      static get is() {
        return 'person-add';
      }


      ready() {
        super.ready();
        let name, descript, imgsrc, newImage;
        const person = this.$.infoPerson,
              img = this.$.imgInput,
              reader = new FileReader();

        this.$.addImg.addEventListener('click', e => {
          person.style.display = 'none';
          img.style.display = 'flex';
        });

        this.$.imgBtn.addEventListener('click', e => {
          newImage = this.$.imgIn.files[0];


          if(newImage){
            reader.readAsDataURL(newImage);

            reader.onload = () => {
              imgsrc = reader.result;
              person.style.display = 'flex';
              img.style.display = 'none';
              this.$.profilePic.src = reader.result ;

            };

            reader.onerror = (error) => {
              console.log('Error: ', error);
            };
          }
          else {
            console.log('no hay imagen');
          }
        });

        this.$.dataBtn.addEventListener('click', e => {
            name = this.$.namePer.value;
            descript = this.$.descriptPer.value;

            if(name && descript && imgsrc){

              this.dispatchEvent(new CustomEvent('newUser', {
                bubbles: true,
                detail: {name, descript, imgsrc}
              }));
            }
            else{
              console.log('llena los campos, por favor');
            }
        });
      }

    }

    window.customElements.define(PersonAdd.is, PersonAdd);
      // https://fineuploader.com/demos.html
  </script>
</dom-module>
