<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="person-label">
  <template>
    <style>
      p:hover {
        background: rgba(0, 0, 0, 0.4);
        font-family: sans-serif;
        border-radius: 9px;
        border-bottom: solid black 2px;
        border-left: solid black 2px;
        cursor: pointer;
        padding-bottom: 3px;
      }

      p{
        padding: 5px 10px;
        font-size: 1.3rem;
      }

    </style>

    <p>{{fullname}}</p>

  </template>

  <script>
    /**
     * `person-label
     * person-label
     *
     * @customElement
     * @polymer
     */
    class PersonLabel extends Polymer.Element {
      static get is() {
        return 'person-label';
      }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'nombre-default'
          },
          lastname:{
            type: String,
            value: 'apellido-default'
          },
          fullname:{
            type: String,
            computed: 'computeFullname(name, lastname)'
          },
          descript: {
              type: String,
              value: 'descript-default'
            },
            imgsrc: {
              type: String,
              value: 'src/media/default-user-image.png'
            }
        };
      }

      computeFullname(first, last){
        return first + ' ' + last
      }

      ready() {
        super.ready();
        let user = document.querySelector('person-info');
        this.addEventListener('click', e => {
          let name = this.name,
              lastname = this.lastname,
              imgsrc = this.imgsrc,
              descript = this.descript;
          if(name){
            user.setAttribute('name', name);
            user.setAttribute('lastname', lastname);
            user.setAttribute('descript', descript);
            user.setAttribute('imgsrc', imgsrc);
          }
          else{
            user.setAttribute('name', 'user-default');
            user.setAttribute('descript', 'descript-default');
            user.setAttribute('imgsrc', 'src/media/default-user-image.png');
          }
        });
      }
    }

    window.customElements.define(PersonLabel.is, PersonLabel);
  </script>
</dom-module>
