<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="person-container">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        padding: 3vh 5vw 0 3vw;
        font-family: sans-serif;
      }
        h2{
          font-family: sans-serif;
          font-weight: bold;
          margin: 0 0 2vh -1vw;
        }
    </style>
    <h2>{{mytitle}}</h2>
    <slot></slot>
  </template>

  <script>
    /**
     * `person-container`
     * person-container
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PersonContainer extends Polymer.Element {
      static get is() { return 'person-container'; }
      static get properties() {
        return {
          mytitle: {
            type: String,
            value: ''
          }
        };
      }
    }

    window.customElements.define(PersonContainer.is, PersonContainer);
  </script>
</dom-module>
