<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="person-container">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `person-container`
     * person-container
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PersonContainer extends Polymer.Element {
      static get is() { return 'person-container'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'person-container'
          }
        };
      }
    }

    window.customElements.define(PersonContainer.is, PersonContainer);
  </script>
</dom-module>
