<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="person-info">
  <template>
    <style>
      :host {
        display: flex;
        margin-top: 6vh;
        background: rgba(0, 0,0, 0.4);
        padding: 6vh 2vw 0 4vw;
        font-family: sans-serif;
        border-radius: 15px;
        font-family: sans-serif;
      }
      h3{
        font-weight: bold;
        margin: 0 0 6vh 4vw;
        font-size: 1.5rem;
        color: rgba(255,255,255,0.6);
      }
      img{
        min-height: 20vw;
        max-height: 25vw;
        width: 25vw;
        margin-bottom: 6vh;
        border-radius: 30px;

      }

      label{
        margin: 0 0 0 5vw;
        color: rgba(255,255,255,0.9);
        font-size: 1.2rem;
      }

      .info-cont{
        display: flex;
        flex-direction: column;
      }



    </style>

    <img src='{{imgsrc}}'>

    <div class='info-cont'>
    <h3>{{fullname}}</h3>

    <label>{{descript}} {{addNew}}</label>

    <div>

  </template>

  <script>
    /**
     * `person-info`
     * person-info
     *
     * @customElement
     * @polymer
     */


    class PersonInfo extends Polymer.Element {
      static get is() { return 'person-info'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'nombre-default'
          },
          lastname:{
            type: String,
            value: 'apellido-default'
          },
          fullname:{
            type: String,
            computed: 'computeFullname(name, lastname)'
          },
          descript: {
            type: String,
            value: 'descript-default'
          },
          imgsrc: {
            type: String,
            value: 'src/media/default-user-image.png'
          }
        };
      }

      computeFullname(first, last){
        return first + ' ' + last
      }
      

    }

    window.customElements.define(PersonInfo.is, PersonInfo);

  </script>
</dom-module>
